* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (max-width: 400px) {
    body {
        background-color: blue;
    }
}


@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: red;
    }
}

@media only screen and (min-width: 961px) {
    body {
        background-color: aqua;
    }
}

.nav-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

a {
    text-decoration: none;
}

ul {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    list-style: none;
    height: 10vh;
}

li a{
    display: block;
    color: #fff;
    text-decoration: none;
}

#name {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    animation: scale 15s;
}

.image {
    display: block;
    margin-left: auto;
    border-radius: 50%;
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }

    100% {
    transform: scale(1);
    }
}

.container-second {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.container-three {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 25px;
    z-index: 2;
    font-size: 1.5em;
}

.resume {
    color: blue;
    margin-top: 20px;
    font-size: 1em;
}

.resume:hover {
    color: red;
}

blog-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-container {
    margin: 10%;
    width: 80%;
    height: auto;
}

.blog-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}


.mt-everest {
    border: 1px solid; 
    width: 300px;
    height: 300px;
    position: relative;
}

.img-mt-everest {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-mt-everest {
    padding: 20px;
}

.living-goddess {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kumari {
    width: 300px;
    height: auto
}

.dashain-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
}

.dashain-with-family {
    margin: 20px;
}

/*
About Section
*/

.about-container {
    margin: 10%;
    width: 80%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}

.about-section {
    display: flex;
    flex-flow: wrap;
}

.about-image {
    height: 300px;
    width: 200px;
    background-size: cover;
}

.saayan {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    border: 1px solid;
    border-radius: 50%;  
    width: 300px;
    height: 300px;

}

.saayan-span img{
    text-align: center;
}

.about-text {
    height: auto;
    padding: 40px;
    width: 40%;
    font-size: 1rem;
    margin-right: 100px;
    position: absolute;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 30%;
    margin: 25% 35%;
}